@import "./src/scss/variables";

.boxSkills {
	padding: 100px;
	display: flex;

	.skills1 {
		font-size: 70px;
		font-weight: bold;
	}

	.skills2 {
		font-size: 50px;
		font-weight: bold;
		margin-top: 50px;
	}

	.skills3 {
		font-size: 35px;
		font-weight: bold;
		margin-top: 50px;
		color: $nav-background-color;
	}

	.skillssx {
		width: 50%;

	}

	.skillsdx {
		width: 50%;
	}
}