$card-point-color: rgb(0, 174, 255);
$card-link-color: #536872;
$card-width: 200px;
$card-height: 200px;

.cardCont {
	width: $card-width;
	height: $card-height;
	background: grey;
	margin: 5px;
	overflow: hidden;
	position: relative;

	.imgSpinner {
		position: absolute;
		top: 45%;
		left: 45%;
	}

	.imgContainer {
		img {
			opacity: .5;
			transition: opacity 1s linear 0s,
				transform .5s linear;
			z-index: 100;
			max-width: 200%;
		}


		.show {
			transform: scale(0);
			opacity: 0;
			height: 80px;
			width: 80px;
			border-radius: 100%;
			background: $card-point-color;
			position: absolute;
			top: ($card-width/2)-40px;
			left: ($card-height/2)-40px;
			z-index: 1;
			transition: transform .5s ease-in,
				opacity .5s ease-in;
			display: flex;
			justify-content: center;
			align-items: center;

			.showText {
				margin-top: 7px;
				font-size: 8px;
			}

			.textCardColor {
				color: $card-link-color;
			}

		}

		&:hover {
			img {
				transform: scale(1.2);
				// transform-origin: center;
				opacity: 1;
				transition: opacity 1s linear 0s, transform .5s linear .1s;

			}

			.show {
				transform: scale(1);
				opacity: 1;
				transition: transform .3s ease-in,
					opacity .5s ease-in;
				;
			}
		}
	}
}



.cardFont {
	font-size: 10px;
}