@import 'variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  width: 100%;
  height: 50px;
  background: grey;
}

.contenitore {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: lightgrey;
}

.rosso {
  width: 50px;
  height: 50px;
  background: rgb(133, 79, 79);
}

.portfolioContainer {
  // display: none;
  width: 100%;
  height: 100%;
  transform: translateX(-800px);
}

.slide {
  // display: block;
  transform: translateX(0px);
  transition: all .2s linear;
}

.slide_2 {
  transform: translateX(4000px);
  transition: all .2s linear;
}

.slider {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: black;
  z-index: 1;
  position: fixed;
  right: 4000px;
}

.mynavbar {
  width: 150px;
  height: 100%;
  background: rgb(36, 56, 82);
  display: flex;
  flex-direction: column;
  align-items: center;

  .mylink {
    color: rgb(59, 132, 173);
    margin-top: 50px;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }

}


/* css transition */

.fade-enter {
  opacity: 0.01;

}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms linear;
  // transform: translateX(200px);
  // transition: all 1.5s linear;
}

.fade-exit {
  opacity: 1;

}

.fade-exit.fade-exit-active {
  opacity: 0;

  // transition: opacity 1000ms ease-in;
  // transition-duration: 4s;
  // transform: scale(0.5);
  // transition: all 1.5s linear;
}

//transitions part II

.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}

//transitions part III


.background-enter {
  transform: translate(100%);
}

.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.background-leave {
  transform: translate(0);
}

.background-leave.background-leave-active {
  transform: translate(-1000px);
  transition: transform 50ms ease-in-out;
}

// transitions part IV
.page {
  height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out;
}

.page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  transform: translate(-100%, 0);
}

//transitions part V


//old page exiting, hides it underneath (bottom) 
.pageSlider-exit>.page {
  z-index: 1;
}

//new page entering, show it on top
.pageSlider-enter>.page {
  z-index: 10;
}

//LEFT transition transform 100% to the right
.pageSlider-enter.left>.page {
  transform: translate3d(100%, 0, 0);
}

//RIGHT transition transform -100% to the left
.pageSlider-enter.right>.page {
  transform: translate3d(-100%, 0, 0);
}

//old exit left direction
.pageSlider-exit.left>.page {
  transform: translate3d(-100%, 0, 0);
}

//old exit right direction 
.pageSlider-exit.right>.page {
  transform: translate3d(100%, 0, 0);
}

//Enter is active (Page has finished transitioning) make it settle down 
.pageSlider-enter.pageSlider-enter-active>.page {
  transform: translate3d(0, 0, 0);
  //Apply all transitions 
  transition: all 800ms ease-in-out;
}