@import 'variables';
@import 'transitions';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  width: 100%;
  height: 50px;
  background: grey;
}

.contenitore {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgb(56, 74, 104);

}

.boxPortfolio {
  width: 95%;
  height: 100%;
  margin: auto;
  background: rgb(78, 131, 103);
}





.mynavbar {
  width: 150px;
  height: 100%;
  background: rgb(36, 56, 82);
  display: flex;
  flex-direction: column;
  align-items: center;

  .mylink {
    color: rgb(59, 132, 173);
    margin-top: 50px;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }

}