@import 'variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  width: 100%;
  height: 50px;
  background: grey;
}

.main {
  width: 100%;
  height: auto;
  padding: 10px;
  background: lightgrey;
}

.contenitore {
  width: 100%;
  height: 100vh;
  display: flex;
}

.mynavbar {
  width: 150px;
  height: 100%;
  background: rgb(36, 56, 82);
  display: flex;
  flex-direction: column;
  align-items: center;

  .mylink {
    color: rgb(59, 132, 173);
    margin-top: 50px;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }

}


/* cdd transition */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

//transitions part II

.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}